.block {
    background: #C4C4C4;
    font-size: 28px;
    min-height: 150px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.block:nth-child(odd) {
    width: 75%;
}

.block:nth-child(even) {
    width: 50%;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

#block3 {
    font-size: 16px;
}

.block:hover {
    font-size: 56px;
    color: red;
    padding: 20px 25px;
}

#block3:hover {
    font-size: 32px;
}

h1, h2, h3, .block {
    transition: 0.5s

}